<p>register-order works!</p>

<p>--- Add new food-item form</p>
<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
  <label>
    Food Name:
    <input type="text" formControlName="name" />
  </label>

  <label>
    Price:
    <input type="number" formControlName="price" />
  </label>

  <label>
    <p>Meal size:</p>
    <p>
      <label>
        <input type="radio" formControlName="size" [value]="'S'" />
        S
      </label>
    </p>
    <p>
      <label>
        <input type="radio" formControlName="size" [value]="'M'" />
        M
      </label>
    </p>
    <p>
      <label>
        <input type="radio" formControlName="size" [value]="'L'" />
        L
      </label>
    </p>
  </label>

  <label *ngIf="(registeredUsers$ | async).length">
    <p>On whose account:</p>
    <p *ngFor="let user of registeredUsers$ | async">
      <label>
        <input type="radio" formControlName="payer" [value]="user.login" />
        {{ user.id }}
        {{ user.login }}
        {{ user.password }}
      </label>
    </p>
  </label>

  <button type="submit">Submit</button>
</form>
<div *ngIf="profit$ | async as profit">
  <p>:::: [total profit]: {{ profit }}</p>
</div>
<div *ngIf="(orders$ | async).length">
  :::: [orders history]:
  <p *ngFor="let order of orders$ | async">
    :::::::::::::::: {{ order.food }} {{ order.size }} {{ order.price }}
    {{ order.payer }}
  </p>
</div>
